include ../partials/header.pug

form(method="post" action="/party" class="relative flex-col flex")
  header(class="text-white px-2" )
    h2(class="text-center text-xl text-white md:text-3xl pt-10 font-bold" ) Créer un événement <br> dans lequel tu ne peux pas aller !!
    h2(class="text-center text-4xl pb-10 font-thin py-4 " ) 😢😢😢😢😢😢
  .max-w-screen-sm.m-auto.w-full.px-2
    section(class="relative text-gray-800 flex flex-col min-w-0 break-words bg-white w-10/12 mx-auto py-10  shadow-xl rounded-lg -mt-4 px-2 md:px-12 mx-auto" )
      div(method="post" action="/party")
        div(class="container__inputs")
          section(class="" )
            label(for="name") Nom de l'événement
            input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
          section(class="" )
            label(for="name") Auteur
            input(name="author" id="Auteur" required minlength="3" placeholder="Auteur")
          section(class="" )
            label(for="name") Date
            input.w-full(name="date" id="Date" type="date" minlength="3" placeholder="date")
  button(type="submit" class="bg-secondary-color text-white font-bold py-2 px-12 rounded m-auto block -mt-4 z-10" ) Créer