include ../partials/header.pug

section(class="relative flex-col flex" )
  header(class="text-white px-2" )
    h2(class="text-center text-4xl md:text-3xl pt-10 font-bold" ) Qui prend quoi ?
    h2(class="text-center text-xl pb-10 font-thin py-6" ) Page événement
  div
    section(class="relative flex flex-col min-w-0 break-words bg-white w-10/12 mx-auto py-10  shadow-xl rounded-lg -mt-4" )
      h2 #{party.name}
      h3 Créé par #{party.author}
      label(for="url") Partagez l'événement
      input(id="url" value=`${url}`)
  button(type="submit" class="bg-secondary-color text-white font-bold py-2 px-12 rounded m-auto block -mt-4 z-10" ) COPY