@import "./config/medias.scss" ;
@import "./blocs/newParty.scss" ;

:root {
  --primary-color: #4299e1;
  --secondary-color: #9E1946;
}
header {
  background-image: url('assets/images/party.jpg');
  background-size: cover;
}
body {
  font-family: Helvetica, Roboto ,sans-serif;
}

.container__inputs section {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  max-width: 300px;
  margin: auto;
}

.container__inputs label {
  color:  var(--primary-color);
  font-size: 14px;
}

.container__inputs input::placeholder {
  color: transparent;
}

input {
  border: 1.5px var(--primary-color) solid;
  padding: 3px 0px 3px 20px;
  border-radius: 27px;
  height: 40px;
  background: white;
  width: 100%;
}


@mixin medium {
  @media (min-width: 430px) {
    @content;
  }
}